@import "src/styles";

.shopping-list-form {
  margin-top: 40px;
  gap: 100px;

  .fields {
    width: 100%;

    .form-group {
      width: 100%;
      max-width: 500px;

      &.name-field {
        margin-right: 30px;
      }

      &.amount-field {
        max-width: 175px;
        margin-right: 14px;
      }

      label {
        font-weight: 500;
      }
    }
  }

  .actions {
    @include row-cards-flex;
  }
}

@media (max-width: 767px) {
  .shopping-list-form {
    margin-bottom: 40px;
    flex-direction: column;
    gap: unset !important;
    align-items: initial !important;

    .form-group {
      max-width: 100% !important;
    }

    .fields {
      flex-direction: column;
    }
  }
}
