<form class="shopping-list-form d-flex align-center justify-between"
      [formGroup]="addIngredientsForm"
      #formDirective="ngForm"
      (ngSubmit)="onSubmit(formDirective)">
  <div class="fields d-flex">
    <div class="form-group name-field">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        class="form-control"
        formControlName="name">
    </div>
    <div class="form-group amount-field">
      <label for="amount">Amount</label>
      <input
        type="number"
        id="amount"
        min="0"
        class="form-control"
        formControlName="amount"
        oninput="validity.valid || (value='')">
    </div>
    <mat-form-field appearance="standard" class="units-field">
      <mat-select [(value)]="selectedUnits" formControlName="unit">
        <mat-option
          *ngFor="let unit of units"
          [value]="unit">
          {{ unit }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="actions">
    <button
      type="submit"
      class="btn btn-green"
      [disabled]="addIngredientsForm.invalid">
      {{ editMode ? 'Update' : 'Add' }}
    </button>
    <button
      type="button"
      class="btn-orange"
      (click)="clearForm()">
      Clear
    </button>
    <button
      type="button" class="btn btn-danger"
      (click)="deleteItem()"
      *ngIf="editMode">
      Delete
    </button>
  </div>
</form>
