<nav class="navbar navbar-default">
  <div class="wrapper">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Recipe book</a>
    </div>
    <div class="navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" *ngIf="!isAuthenticated">
          <a routerLink="auth">Sign in</a>
        </li>
        <ng-container *ngIf="isAuthenticated">
          <li routerLinkActive="active">
            <a routerLink="recipes">Recipes</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="shopping-list">Shopping List</a>
          </li>
        </ng-container>
      </ul>
      <ul class="nav navbar-right d-flex align-center justify-end"
          *ngIf="isAuthenticated && userDetails.gender">
        <li routerLinkActive="active">
          <button class="btn-green btn-new" routerLink="recipes/new">New Recipe</button>
        </li>
        <li class="dropdown" appToggleClassOpen>
          <img *ngIf="userDetails.gender === 'female'" src="assets/images/woman-cook.svg" alt="user's avatar">
          <img *ngIf="userDetails.gender === 'male'" src="assets/images/man-cook.svg" alt="user's avatar">
          <ul class="dropdown-menu animate slideIn">
            <li (click)="openEditUserDialog()"><a>{{ this.userDetails.userName || this.userDetails.email }}</a></li>
            <li (click)="onLogout()">
              <a>Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
