.list-group-item {
  transition: .4s;
  padding: 0;
  height: 80px;

  &.active {
    color: #000;
    background-color: #f5f5f5;
    border-color: #bbbbbb;

    .pull-left {
      .list-group-item-heading {
        font-weight: 600;
      }
    }
  }

  .pull-left {
    padding: 10px;

    .list-group-item-heading {
      color: #4c2109;
      font-size: 20px;
    }

    .list-group-item-text {
      color: #7d4e34;
    }
  }

  .pull-right {
    width: 140px;
    height: 100%;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 1080px) {
  .list-group-item {
    height: 100px;

    .pull-left {
      max-width: 220px;
    }
  }
}

@media (max-width: 400px) {
  .list-group-item {
    .list-group-item-text {
      display: none;
    }

    .pull-left {
      max-width: 125px;
    }
  }
}
