<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <div
      *ngIf="!recipeForm.get('image').value"
      class="upload-area"
      (dragover)="onDragOver($event)"
      (drop)="onDragSuccess($event)"
      (click)="postImage.click()">
      <div>
        <img class="add-image-icon" src="assets/images/add-image.svg" alt="add image">
        <h3 class="upload-title">
          Drop your image here, or
          <a>browse</a>
        </h3>
      </div>
      <p class="upload-file-type">Supports: JPG, PNG, SVG</p>
      <input
        #postImage
        id="photo"
        type="file"
        accept="image/jpeg,image/png,image/gif"
        name="photo"
        class="file-input"
        (change)="addPhoto($event)">
    </div>
  </div>
  <div
    *ngIf="recipeForm.get('image').value"
    class="image-container d-flex justify-center">
    <div class="overlay"></div>
    <img
      class="img-responsive"
      [src]="recipeForm.get('image').value"
      alt="recipe-image">
    <button
      class="delete-btn"
      (click)="delPhoto()">
      <svg
        class="delete-icon"
        width="64px" height="64px"
        fill="#000000" viewBox="0 0 128 128"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="m49 1c-1.66 0-3 1.34-3 3s1.34 3 3
                3h30c1.66 0 3-1.34 3-3s-1.34-3-3-3h-30zm-25
                14c-7.17 0-13 5.83-13 13s5.83 13 13 13h77v63c0
                9.37-7.63 17-17 17h-40c-9.37 0-17-7.63-17-17v-52c0-1.66-1.34-3-3-3s-3
                1.34-3 3v52c0 12.68 10.32 23 23 23h40c12.68 0 23-10.32 23-23v-63.359c5.72-1.36
                10-6.5006 10-12.641 0-7.17-5.83-13-13-13h-80zm0 6h80c3.86 0 7 3.14 7 7s-3.14 7-7
                7h-80c-3.86 0-7-3.14-7-7s3.14-7 7-7zm26 34c-1.66 0-3 1.34-3 3v46c0 1.66 1.34 3 3
                3s3-1.34 3-3v-46c0-1.66-1.34-3-3-3zm28 0c-1.66 0-3 1.34-3 3v46c0 1.66 1.34 3 3
                3s3-1.34 3-3v-46c0-1.66-1.34-3-3-3z"/>
      </svg>
    </button>
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      id="name"
      class="form-control"
      formControlName="name">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      name="description"
      id="description"
      class="form-control"
      rows="6"
      formControlName="description">
    </textarea>
  </div>
  <div class="ingredients" formArrayName="ingredients">
    <div
      class="d-flex g-20 h-50"
      *ngFor="let ingredientCtrl of recipeFormArray.controls; let i = index"
      [formGroupName]="i">
      <div class="name-control">
        <input
          type="text"
          class="form-control"
          formControlName="name">
      </div>
      <div class="amount-control">
        <input
          type="number"
          class="form-control"
          formControlName="amount">
      </div>
      <mat-form-field appearance="standard" class="units-field">
        <mat-select formControlName="unit">
          <mat-option
            *ngFor="let unit of units"
            [value]="unit">
            {{ unit }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="button">
        <button
          type="button"
          mat-stroked-button color="warn"
          (click)="onDeleteIngredients(i)">
          X
        </button>
      </div>
    </div>
    <div>
      <button
        type="button"
        class="btn-green"
        (click)="onAddIngredients()">
        Add ingredient
      </button>
    </div>
  </div>
  <div class="actions">
    <button
      type="submit"
      class="btn-green"
      [disabled]="recipeForm.invalid">
      Save
    </button>
    <button
      type="button"
      (click)="onCancel()"
      class="btn-danger">
      Cancel
    </button>
  </div>
</form>
