form {
  .file-input {
    display: none;
  }

  .delete-btn {
    display: flex;
    position: absolute;
    left: 50%;
    top: 44%;
    transform: translateX(-50%);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 36px;
    border-radius: 6px;
    background-color: rgb(255 255 255 / 9%);
    border: none;
    opacity: 0;
    transition: .4s;
    z-index: 2;
  }

  .image-container {
    .overlay {
      opacity: 0;
      width: calc(100% - 6%);
      height: 100%;
      border-radius: 6px;
      position: absolute;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.28);
      transition: .4s;
    }

    &:hover {
      .delete-btn {
        opacity: 1;
      }

      .overlay {
        opacity: 1;
      }
    }

    .delete-icon {
      fill: #fff;
    }
  }

  .upload-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 142px;
    text-align: center;
    border: 1px dashed #ccc;
    border-radius: 6px;
    margin-top: 4px;
    margin-bottom: 20px;
    cursor: pointer;

    .add-image-icon {
      width: 30px;
    }
  }

  img {
    object-fit: cover;
  }

  .upload-title {
    font-size: 18px;

    a {
      color: #333;
      text-decoration: underline;
    }
  }

  .ingredients {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .btn-delete {
      width: 100%;
    }
  }

  .actions {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }

  .form-control {
    &.ng-invalid {
      &.ng-touched {
        border-color: #d9534f;
        outline: 0;
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%),
        0 0 8px rgb(241 189 206 / 60%);
      }
    }
  }
}
