.recipes-container {
  margin-top: 70px;
  padding-bottom: 100px;

  .menu-btn {
    display: none;
    position: absolute;
  }

  .recipe-list-container {
    max-width: 690px;
    width: 100%;
  }

  .recipe-detail-container {
    position: relative;
    max-width: 568px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .menu-btn {
    display: block !important;
    left: 23px;
    top: 156px;
    z-index: 9;
  }

  .recipe-list-container {
    left: -100%;
    position: absolute;
    background-color: #f9f9f9;
    transition: all .4s ease-in-out;
    z-index: 9;

    &.opened {
      left: 0;
    }
  }

  .recipe-detail-container {
    max-width: unset !important;
    transition: .4s all;
    opacity: 0;

    &.opened {
      opacity: 1;
    }
  }
}
