form {
  max-width: 460px;
  width: 100%;
  margin-top: 60px;
  position: relative;

  label {
    font-weight: 500;
  }

  .form-group {
    &.password {
      position: relative;

      button {
        position: absolute;
        right: 0;
        top: 20px;

        .hide-pass-icon {
          font-size: 20px;
        }
      }
    }
  }

  .hide-pass-icon {
    color: #ffdd79;
  }

  .fields {
    width: 100%;
  }

  .toggle-group {
    width: fit-content;
    z-index: 6 !important;

    img {
      width: 77px;
    }
  }

  .actions {
    position: absolute;
    top: 194px;
  }
}

