<div class="d-flex align-center direction-column">
  <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div>
    <div class="form-group">
      <label for="email">E-mail</label>
      <input
        type="email"
        id="email"
        class="form-control"
        formControlName="email">
    </div>
    <div class="form-group password">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        formControlName="password"
        matInput [type]="hide ? 'password' : 'text'">
      <button
        mat-icon-button matSuffix
        type="button"
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon class="hide-pass-icon">
          {{ hide ? 'visibility_off' : 'visibility' }}
        </mat-icon>
      </button>
    </div>
    <div
      class="form-group d-flex justify-between"
      *ngIf="!isLoginMode">
      <label>Choose gender: {{ gender.value }}</label>
      <mat-button-toggle-group
        class="toggle-group"
        formControlName="gender"
        name="favoriteColor">
        <mat-button-toggle value="female">
          <img src="assets/images/woman-cook.svg" alt="female">
        </mat-button-toggle>
        <mat-button-toggle value="male">
          <img src="assets/images/man-cook.svg" alt="male">
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="actions" [class.transform]="!isLoginMode">
      <button
        class="btn-orange"
        (click)="onSwitchMode()"
        type="button">
        Switch to {{ isLoginMode ? 'Sign up' : 'Login' }}
      </button>
      |
      <button
        class="btn-green btn-login"
        type="submit"
        [disabled]="authForm.invalid">
        {{ isLoginMode ? 'Login' : 'Sign up' }}
        <app-spinner *ngIf="isSubmitted"></app-spinner>
      </button>
    </div>
  </form>
</div>
