form {
  max-width: 460px;
  width: 100%;
  margin-top: 115px;
  position: relative;

  .alert-danger {
    position: absolute;
    top: -70px;
    width: 100%;
    opacity: 0;
    transition: .4s all;

    &.shown {
      opacity: 1;
    }
  }

  label {
    font-weight: 500;
  }

  .form-group {
    &.password {
      position: relative;

      button {
        position: absolute;
        right: 0;
        top: 20px;

        .hide-pass-icon {
          font-size: 20px;
        }
      }
    }
  }

  .hide-pass-icon {
    color: #ffdd79;
  }

  .fields {
    width: 100%;
  }

  .toggle-group {
    width: fit-content;
    z-index: 6 !important;

    img {
      width: 77px;
    }
  }

  .actions {
    position: absolute;
    top: 194px;
  }
}

@media (max-width: 460px) {
  form {
    .actions {
      top: 244px;
      right: 0;
    }
  }
}

