.list-group-item {
  width: 100%;
  transition: .4s;
  border-radius: 4px;

  &.checked {
    text-decoration: line-through;
  }
}

h2 {
  font-size: 20px;
  text-align: center;
  margin-top: 63px;
}

.list-group {
  margin-top: 40px;
}
